/LSDOS631L/lsdos631/cmdfiles/*.CIM
/LSDOS631L/lsdos631/cmdfiles/*.CMD
/LSDOS631L/lsdos631/cmdfiles/*.DCT
/LSDOS631L/lsdos631/cmdfiles/*.DVR
/LSDOS631L/lsdos631/cmdfiles/*.FLT
/LSDOS631L/lsdos631/libcmds/*.bak
*.bak
*.equ
*.prn
